{% extends 'dashboard/base.html' %} {% load static %} {% block content %}

<section class="container text-center">
  <h3>Welcome</h3>

  <hr />
  <br />
  <div class="row">
    <div class="col-md-3">
      <a href="{% url 'notes'%}">
        <div class="card">
          <img
            class="card-img-top"
            src="{% static 'images/david-travis-5bYxXawHOQg-unsplash.jpg' %}"
            alt="Notes image"
          />
          <div class="card-body">
            <h5 class="card-title">Notes</h5>
            Create your notes here and it will be stored until you delete it.
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="{% url 'homework'%}">
        <div class="card">
          <img
            class="card-img-top"
            src="{% static 'images/absolutvision-82TpEld0_e4-unsplash.jpg' %}"
            alt="Home-Work image"
          />
          <div class="card-body">
            <h5 class="card-title">Homework</h5>
            Add homework and their deadlines here and finish it on time.
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="{% url 'youtube'%}">
        <div class="card">
          <img
            class="card-img-top"
            src="{% static 'images/alexander-shatov-niUkImZcSP8-unsplash.jpg' %}"
            alt="Youtube image"
          />
          <div class="card-body">
            <h5 class="card-title">Youtube</h5>
            Got stucked while reading, search any topic here on Youtube
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="{% url 'todo'%}">
        <div class="card">
          <img
            class="card-img-top"
            src="{% static 'images/joanna-kosinska-LAaSoL0LrYs-unsplash.jpg' %}"
            alt="To do image"
          />
          <div class="card-body">
            <h5 class="card-title">To Do</h5>
            Add your to-do list and finish them on time.
          </div>
        </div>
      </a>
    </div>
  </div>
  <br /><br /><br />
  <div class="row">
    <div class="col-md-3">
      <a href="{% url 'books'%}">
        <div class="card mt-20">
          <img
            class="card-img-top"
            src="{% static 'images/robert-anasch-McX3XuJRsUM-unsplash.jpg' %}"
            alt="Book image"
          />
          <div class="card-body">
            <h5 class="card-title">Books</h5>
            Browse books from a list of neatly organised book menu
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="{% url 'dictionary'%}">
        <div class="card">
          <img
            class="card-img-top"
            src="{% static 'images/edho-pratama-T6fDN60bMWY-unsplash.jpg' %}"
            alt="Dictionary image"
          />
          <div class="card-body">
            <h5 class="card-title">Dictionary</h5>
            Want to know meaning of any word, search here.
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="{% url 'wiki'%}">
        <div class="card">
          <img
            class="card-img-top"
            src="{% static 'images/luke-chesser-D8QbsYyiFmw-unsplash.jpg' %}"
            alt="Notes image"
          />
          <div class="card-body">
            <h5 class="card-title">WikiPedia</h5>
            Homework and Assignments? Search wikipedia to get fast results
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="{% url 'conversion'%}">
        <div class="card">
          <img
            class="card-img-top"
            src="{% static 'images/eskay-lim-PK6NDtsYy00-unsplash.jpg' %}"
            alt="Notes image"
          />
          <div class="card-body">
            <h5 class="card-title">Conversion</h5>
            Check out the conversion table, that helps you to convert
            measurements to more familiar ones of your choice.
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
{% endblock content %}
